
html,
body {
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);
    text-align: center;
}

h1, h2{
    margin-bottom: 0;
    color: #680747;
}
p {
    font-size: 20px;
    color: #680747;
}

.ordained-minister {
    font-size: 30px;
    color: #680747;
}
.collar{
    font-size: 10px;
    color: #680747;
}
.steve-chewy{
    max-height: 200px;
    text-align: center;
}

.body{
    font-size: 20px;
    color: #680747;
    padding: 20px;
    justify-content: space-evenly;
}
.text{
    border: 2px solid white;
}
.coming-in{
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.container{
    justify-content: space-evenly;
    color: #680747;
    padding: 20px;
    text-align: center;
}
.about{
    text-align: right;
}
.why{
    text-align: left;
}
.heading{
    font-weight: bolder;
    font-size: 30px;
}
.ever-after{
    font-size: 20px;
    color: #680747;
    text-align: center;
    display: block;
    margin: 0 auto;
}